html {
  height: 95%;
}

body {
  background-color: {{ colorbg }};
  font-family: "{{ font }}", monospace;
  font-size: 14px;
  margin-left: 7%;
  color: #ffffff;
  height: 100%;
}

a,a:link,a:visited,a:active {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #ffffff;
  font-weight: normal;
}

h2 {
  color: #ffffff;
  text-shadow: 2px 2px #222222;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -5px;
  font-weight: normal;
}

.urls {
  display: none;
}

.hidden {
  display: none;
}

.toggle {
  color: #999999;
}
