<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans:400" />
    <link rel="stylesheet" type="text/css" href="startpage.css" />
    <title>New Tab</title>
  </head>
  <body>
    <div class="wrapper">
      <time class="time" id="js-time"></time>
      <div class="search" id="js-search">
        <input class="search_text" id="js-search-text" type="text" spellcheck="false" onkeypress="searchKeyPress(event)" autofocus>
      </div>
    </div>
    <script type="text/javascript" src="startpage.js"></script>
  </body>
</html>
