body, input {
  font-family: 'Droid Sans', sans-serif;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #052026;
  color: #E7DFD5;
  text-align: center;
}

input, input:focus {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
}

.wrapper {
  position: relative;
  top: 30%;
  padding: 1rem;
}

.time {
  font-size: 5rem;
  letter-spacing: 6px;
}

.search {
  margin-top: 2rem;
}

.search_text, .help {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
}

.search_text {
  padding: 0.75rem;
  background-color: #17373E;
  border-radius: 2px;
  color: #fff;
  font-size: 1.1rem;
}

.help {
  height: 0;
  margin: 1rem auto 0;
  border-right: dashed 1px #ddd;
  transition: height 0.2s linear;
  text-align: left;
  line-height: 1rem;
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  overflow: hidden;
}
